.mainStyle {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template: 6.7vh auto / 1fr;
    background-color: #FDFDFD;
}

#changeBackgroundColor {
    background-color: #FDF6E3;
}

.navigationBarLocation {
    grid-area: 1 / 1 / 2 / 2;
}

.mainContent {
    grid-area: 2 / 1 / 3 / 2;
}