.mainStyle {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pomodoroTimer {
    width: 50%;
    height: 60%;
    margin-bottom: 20vh;
    display: grid;
    grid-template: 1.5fr 7fr 2fr / 1fr;
}

.navigationBar {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    justify-content: space-center;
}

.navigationBar > button {
    width: 100%;
    border: none;
    background-color: #b4c2de;
    font-size: 2.5vw;
    
    transition: background-color .2s;

}
.navigationBar > button:hover {
    background-color: #8fa2c7;
    transition: background-color .2s;
}

.navigationBar > button:active {
    background-color: #6e81a7;
    transition: background-color .2s;
}

.roundLeft {
    border-top-left-radius: 30px;
}

.roundRight {
    border-top-right-radius: 30px;
}

#selected {
    background-color: #6e81a7;
}

.timer {
    grid-area: 2 / 1 / 3 / 2;
    background-color: #FDF6E3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timer > p {
    font-size: 1400%;
}

.controls {
    grid-area: 3 / 1 / 4 / 2;
    background-color: #FDF6E3;
    display: flex;
    justify-content: center;
    align-items: end;
}

.controls > button {
    border: none;
    width: 40%;
    height: 90%;
    font-size: 300%;

    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

#timerNotStarted {
    background-color: #0bd894;
    transition: background-color .2s;

}

#timerNotStarted:hover {
    background-color: #10B981;
    transition: background-color .2s;
}

#timerNotStarted:active {
    background-color: #0c9467;
    transition: background-color .2s;
}

#timerStarted {
    background-color: #ff4343;
    transition: background-color .2s;

}

#timerStarted:hover {
    background-color: #da5050;
    transition: background-color .2s;
}

#timerStarted:active {
    background-color: #c94b4b;
    transition: background-color .2s;
}
