.mainStyle {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template: 1fr / 1fr 4fr;
    column-gap: 3vw;
    padding: 1.5vh 1.5vw;
}


.mainStyle > div {
    height: 100%;
    width: 100%;

    border-radius: 20px;
}

.sideBar {
    padding-top: 3vh;
    
    grid-area: 1 / 1 / 2 / 2;
    display: grid;
    grid-template: 10fr 1fr / 1fr;

    background-color: #b4c2de;
}

.listTodoLists {
    grid-area: 1 / 1 / 2 / 2;
    height: 79.3vh; /* height of the grid area space */
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: center;
    row-gap: 1vh;

    overflow-y: scroll;
}

.listTodoLists::-webkit-scrollbar {
    width: 12px;
}

.listTodoLists::-webkit-scrollbar-track {
    background-color: inherit;
}

.listTodoLists::-webkit-scrollbar-thumb {
    background-color: #80aafe;
    border-radius: 10px;
}

.listTodoLists > button {
    border: none;
    font-size: 1.5vw;
    font-weight: bold;
    width: 100%;
    height: 69px;
    min-height: 69px;
    background-color: #b4c2de;
    transition: font-size .2s;
    /* border: 2px solid red; */
}

.listTodoLists > button:hover {
    font-size: 2vw;
    transition: font-size .2s;
}

.listTodoLists > button:active {
    font-size: 3vw;
    transition: font-size .2s;

}

#selected {
    font-size: 3vw;
    height: 172px;
    transition: font-size .2s;
}

.addTodoList {
    border: none;
    background-color: #b4c2de;
    font-size: 2vw;

    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;

    transition: background-color .2s;
}

.addTodoList:hover {
    background-color: #949fb7;

    transition: background-color .2s;
}

.addTodoList:active {
    background-color: #798397;

    transition: background-color .2s;
}

.mainArea {
    grid-area: 1 / 2 / 2 / 3;
    
    display: grid;
    grid-template: 1.5fr 9fr 1fr / 3fr 1fr;
    padding: 2vh 2vw;

    background-color: #FDF6E3;
}

#showEditTodoArea {
    grid-template: 1.5fr 9fr 1fr / 3fr 0fr 2fr;
    column-gap: 1vw;
}

.todoListNameDisplay {
    grid-area: 1 / 1 / 2 / 2;
    width: 100%;
    height: 100%;
    justify-self: start;
    align-self: center;

}

.todoListNameDisplay > input {
    font-size: 350%;
    font-weight: bold;
    background-color: inherit;
    border: none;
    width: auto;
}

.todoListNameDisplay > input:focus, .todoListNameDisplay > input:active, .addTodoArea > input:focus, .addTodoArea > input:active {
    outline: none;
}

.deleteListButton {
    grid-area: 1 / 2 / 2 / 3;
    width: 100%;
    height: 80%;
    justify-self: center;
    align-self: start;
    font-size: 2.6vw;
    font-weight: bold;
    background-color: #EF4444;
    border: none;
    border-radius: 15px;

    transition: background-color .2s;
}

.deleteListButton:hover {
    background-color: #d73b3b;
    transition: background-color .2s;
}

.deleteListButton:active {
    background-color: #c13535;
    transition: background-color .2s;
}

.todoListDisplay {
    grid-area: 2 / 1 / 3 / 3;
    height: 66.5vh; /* height of the grid area space */
    width: 100%; 
    justify-self: center;
    align-self: start;
    display: flex;
    flex-flow: column nowrap;
    row-gap: 5px;

    overflow-y: auto;
}

.todoListDisplay::-webkit-scrollbar {
    width: 12px;
}

.todoListDisplay::-webkit-scrollbar-track {
    background-color: inherit;
}

.todoListDisplay::-webkit-scrollbar-thumb {
    background-color: #ffc933;
    border-radius: 10px;
}

.todoCard {
    width: 100%;
    height: 52px;
    min-height: 52px;
    display: grid;
    grid-template: 1fr / 1fr 20fr 2fr;
    background-color: #b4c2de;

    border-radius: 10px;
}


.checkCompletedArea {
    grid-area: 1 / 1 / 2 / 2;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.checkCompletedArea > button {
    width: 3.1vw;
    height: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    border-radius: 30px;
    border: none;

    transition: width .2s;
}

.checkCompletedArea > button > img {
    width: 100%;
    height: auto;
}

.checkCompletedArea > button:hover {
    width: 3.5vw;
    height: auto;
    transition: width .2s;    
}

.todoName {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    align-items: center;
    font-size: 28px;
    /* text-decoration: line-through; */
}

.noteIcon {
    grid-area: 1 / 3 / 2 / 4;
    height: 100%;
    width: auto;
    
    justify-self: center;
    align-self: center;



    border-radius: 10px;

}



.addTodoArea {
    grid-area: 3 / 1 / 4 / 3;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addTodoArea > button {
    height: 100%;
    width: 5%;
    border: none;
    font-size: 250%;
    
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #b4c2de;
    
    transition: background-color .2s;
}

.addTodoArea > button:hover {
    background-color: #8fa2c7;
    transition: background-color .2s;
}

.addTodoArea > button:active {
    background-color: #6e81a7;
    transition: background-color .2s;
}

.addTodoArea > input {
    width: 100%;
    height: 100%;
    font-size: 250%;
    border: none;

    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #b4c2de;
}

.editTodoArea {
    grid-area: 1 / 3 / 4 / 4;
    margin: -2vh 0vw;
    margin-left: 2vw;
    border-radius: 18px;

    display: grid;
    grid-template: 1fr 10fr / 1fr 10fr;
    width: 100%;
    min-height: 100%;
    padding: 1vh 1vw;
    row-gap: 1vh;
    column-gap: 1vw;

    background-color: #ffe08c;
}


.editTodoCompletionStatus {
    grid-area: 1 / 1 / 2 / 2;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.editTodoCompletionStatus > button {
    width: 2.8vw;
    height: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    border-radius: 30px;
    border: none;

    transition: width .2s;
}

.editTodoCompletionStatus > button > img {
    width: 100%;
    height: auto;
}

.editTodoCompletionStatus > button:hover {
    width: 3.5vw;
    height: auto;
    transition: width .2s;    
}


.editTodoName {
    grid-area: 1 / 2 / 2 / 3;
    font-size: 160%;
    font-weight: bold;

    background-color: inherit;
    border: 2px solid #ffbb00;
    
    border-radius: 15px;
}


.editTodoNote {
    grid-area: 2 / 1 / 3 / 3;
    display: flex;
    justify-content: start;
    align-items: start;

    font-size: 160%;
    font-weight: bold;
    background-color: inherit;

    resize: none;
    border-radius: 15px;
    border: none;

    overflow-y: auto;
}

.editTodoNote::-webkit-scrollbar {
    width: 12px;
    padding: 1px;
}

.editTodoNote::-webkit-scrollbar-track {
    background-color: inherit;
}

.editTodoNote::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 10px;
}