.mainStyle {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template: 1fr / 1fr 4fr;
    column-gap: 3vw;
    padding: 1.5vh 1.5vw;
}

.mainStyle > div {
    height: 100%;
    width: 100%;
    padding-top: 3vh;

    border-radius: 20px;
}

.sideBar {
    grid-area: 1 / 1 / 2 / 2;
    display: grid;
    grid-template: 10fr 1fr / 1fr;

    background-color: #b4c2de;
}

.listTodoLists {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: center;
}

.listTodoLists > button {
    border: none;
    font-size: 1.5vw;
    font-weight: bold;
    width: 100%;
    height: 8vh;
    background-color: #b4c2de;
    transition: font-size .2s;
    /* border: 2px solid red; */
}

.listTodoLists > button:hover {
    font-size: 2vw;
    transition: font-size .2s;
}

.listTodoLists > button:active {
    font-size: 3vw;
    transition: font-size .2s;

}

#selected {
    font-size: 3vw;
    height: 20vh;
    transition: font-size .2s;
}

.addTodoList {
    border: none;
    background-color: #b4c2de;
    font-size: 2vw;
    /* border: 2px solid red; */

    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;

    transition: background-color .2s;
}

.addTodoList:hover {
    background-color: #949fb7;

    transition: background-color .2s;
}

.addTodoList:active {
    background-color: #798397;

    transition: background-color .2s;
}

.mainArea {
    grid-area: 1 / 2 / 2 / 3;

    background-color: #FDF6E3;
}