* {
   --scroll-bar-width: 10px; 
}

.mainPage {
    height: 93.3vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 250px;
    padding-left: 2vw;
    padding-top: 2vh;
    row-gap: 20px;
    column-gap: 1vw;
    overflow-y: auto;

    background-color: #FDF6E3;
}
.mainPageNoScrollBar {
    padding-right: 2vw;
}
.mainPageWithScrollBar {
    padding-right: calc(2vw - var(--scroll-bar-width));
}

.mainPage::-webkit-scrollbar {
    width: var(--scroll-bar-width);
}

.mainPage::-webkit-scrollbar-track {
    background-color: inherit;
}

.mainPage::-webkit-scrollbar-thumb {
    background-color: #80aafe;
    border-radius: 10px;
}


.mainPage > button {
    width: 100%;
    height: 100%;

    border: none;
    border-radius: 15px;
}

.addNoteButton {
    display: grid;
    grid-template: 3fr 1fr / 1fr;

    background-color: #b4c2de;
    transition: background-color .2s;
}

.addNoteButton:hover {
    background-color: #8fa2c7;
    transition: background-color .2s;
}

.addNoteButton:active {
    background-color: #6e81a7;
    transition: background-color .2s;
}

.addNoteButton > img {
    grid-area: 1 / 1 / 2 / 2;
    height: 100%;

    justify-self: center;
    align-self: center;
}


.addNoteButton > p {
    grid-area: 2 / 1 / 3 / 2;
    font-size: 300%;
    font-weight: bold;

    justify-self: center;
    align-self: center;
}

.noteEntry {
    display: grid;
    grid-template: 2fr 5fr / 1fr;
    padding: 3%;
    row-gap: 2%;


    background-color: #ffda75;
    transition: background-color .2s;
}

.noteEntry:hover {
    background-color: #fece4a;
    transition: background-color .2s;
}

.noteEntry:active {
    background-color: #ffbb00;
    transition: background-color .2s;
}

.noteEntry > .title {
    width: 100%;
    height: 100%;
    font-size: 200%;
    font-weight: bold;
    text-align: center;

    resize: none;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;

    border: none;
    background-color: inherit;

}
.noteEntry > .title:focus {
    outline: none;
}

.noteEntry > .title::-webkit-scrollbar {
    height: 5px;
}

.noteEntry > .title::-webkit-scrollbar-track {
    background-color: inherit;
}

.noteEntry > .title::-webkit-scrollbar-thumb {
    background-color: #80aafe;
    border-radius: 10px;
}

.noteEntry > .note {
    width: 100%;
    height: 100%;
    resize: none;

    overflow-y: auto;

    border: none;
    background-color: inherit;
}

.noteEntry > .note:focus {
    outline: none;
}

.noteEntry > .note::-webkit-scrollbar {
    width: var(--scroll-bar-width);
}

.noteEntry > .note::-webkit-scrollbar-track {
    background-color: inherit;
}

.noteEntry > .note::-webkit-scrollbar-thumb {
    background-color: #80aafe;
    border-radius: 10px;
}

.editNoteDialog {
    width: 85vw;
    height: 85vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border: none;
    border-radius: 15px;
    background-color: #fde5a2;

    padding: 0px;
    margin: 0px;
}

.editNoteDialog > div {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: 10fr 1fr / 1fr;
    row-gap: 1vw;
    
    padding: 1vw;
}

.editNoteDialog > div > textarea {
    grid-area: 1 / 1 / 2 / 2;
    width: 100%;
    height: 100%;
    justify-self: center;
    align-self: center;
    resize: none;
    font-size: 150%;

    overflow-y: auto;

    border: 2px solid #ffbb00;
    border-radius: 15px;
    background-color: inherit;
}

.editNoteDialog > div > textarea:focus {
    outline: none;
}

.editNoteDialog > div > textarea::-webkit-scrollbar {
    width: var(--scroll-bar-width);
    
}

.editNoteDialog > div > textarea::-webkit-scrollbar-track {
    background-color: inherit;
    margin: 10px 0px;
}

.editNoteDialog > div > textarea::-webkit-scrollbar-thumb {
    background-color: #80aafe;
    border-radius: 10px;
}

.editNoteDialog > div > button {
    grid-area: 2 / 1 / 3 / 2;
    width: 30%;
    height: 100%;
    font-size: 250%;
    font-weight: bold;
    justify-self: center;
    align-self: center;

    background-color: #EF4444;


    border: none;
    border-radius: 15px;

    transition: background-color .2s;
}

.editNoteDialog > div > button:hover {
    background-color: #d73b3b;
    transition: background-color .2s;
}

.editNoteDialog > div > button:active {
    background-color: #c13535;
    transition: background-color .2s;
}