.mainStyle {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    row-gap: .5vh;
    column-gap: .5vw;
}
.mainStyle > div {
    border-radius: 15px;
}

.pomodoroSpace {
    grid-area: 1 / 1 / 2 / 2;
    transform: scale(1);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;


    background-color: #FDF6E3;
    

    transition: background-color .2s;
}
.timerNotGoing {
    border: 5px solid #ffbb00;
}
.timerGoing {
    border: 5px solid #0bd894;
}

.pomodoroSpace:hover {
    background-color: #fee9b0;

    transition: background-color .2s;
}

.pomodoroSpace:active {
    background-color: #fee08e;

    transition: background-color .2s;
}

.timerTitle {
    font-size: 250%;
}

.timeRemaining {
    font-size: 13vw;
}

.todoSpace {
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    grid-template: 1fr 3fr / 1fr;
    padding: .5vh .5vw;

    background-color: inherit;
    border: 5px solid #548dff;
}

.todoSpace > .todoListName {
    grid-area: 1 / 1 / 2 / 2;
    font-size: 325%;
    font-weight: bold;

}

.todoSpace > .todoListArea {
    grid-area: 2 / 1 / 3 / 2;
    width: 100%;
    height: 33.1vh;
    display: flex;
    flex-flow: column nowrap;
    row-gap: 5px;

    overflow-y: auto;

    background-color: inherit;
}

.todoSpace > .todoListArea::-webkit-scrollbar {
    width: 12px;
}

.todoSpace > .todoListArea::-webkit-scrollbar-track {
    background-color: inherit;
}

.todoSpace > .todoListArea::-webkit-scrollbar-thumb {
    background-color: #ffc933;
    border-radius: 10px;
}

.noteSpace {
    grid-area: 2 / 1 / 3 / 3;
    background-color: inherit;
}