.mainStyle {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    row-gap: .5vh;
    column-gap: .5vw;
    padding: .5vh .5vw;
}
.mainStyle > div {
    border-radius: 15px;
}

.pomodoroSpace {
    grid-area: 1 / 1 / 2 / 2;
    transform: scale(1);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;


    background-color: #FDF6E3;
    

    transition: background-color .2s;
}
.timerNotGoing {
    border: 5px solid #ffbb00;
}
.timerGoing {
    border: 5px solid #0bd894;
}

.pomodoroSpace:hover {
    background-color: #fee9b0;

    transition: background-color .2s;
}

.pomodoroSpace:active {
    background-color: #fee08e;

    transition: background-color .2s;
}

.timerTitle {
    font-size: 250%;
}

.timeRemaining {
    font-size: 13vw;
}

.todoSpace {
    grid-area: 1 / 2 / 2 / 3;
    
    padding: .5vh .5vw;

    background-color: inherit;
    border: 5px solid #548dff;
}

.todoSpaceWithTodos {
    display: grid;
    grid-template: 1fr 3fr / 1fr;
}
.todoSpaceWithOutTodos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todoListName {
    grid-area: 1 / 1 / 2 / 2;
    width: 100%;
    height: 100%;
    
    font-size: 325%;
    font-weight: bold;
    justify-self: start;

    border: none;
    background-color: inherit;
}

.todoListName:focus {
    outline: none;
}

.todoListArea {
    grid-area: 2 / 1 / 3 / 2;
    width: 100%;
    height: 32.8vh;
    display: flex;
    flex-flow: column nowrap;
    row-gap: 5px;

    overflow-y: auto;

    background-color: inherit;
}

.noTodosLine {
    font-size: 175%;
    font-weight: bold;
    align-self: center;
}

.todoListArea::-webkit-scrollbar {
    width: 12px;
}

.todoListArea::-webkit-scrollbar-track {
    background-color: inherit;
}

.todoListArea::-webkit-scrollbar-thumb {
    background-color: #ffc933;
    border-radius: 10px;
}

.noTodosMessage {
    font-size: 200%;
}

.noTodosMessage > span {
    font-size: 150%;
    font-weight: bold;
}


.noteSpace {
    grid-area: 2 / 1 / 3 / 3;
    
    background-color: inherit;
    border: 5px solid hotpink;
}

.hasNotes {
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr 1fr;
    padding: .5vh .5vw;
    column-gap: 1vw;
}

.hasNoNotes {
    display: flex;
    justify-content: center;
    align-items: start;
}

.noNotesMessage {
    margin-top: 7vh;
    font-size: 250%;
}